<section class="bsb-timeline-1 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-xl-6">
        <ul class="timeline">
          <li class="timeline-item" *ngFor="let item of rows; let index = index">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0 bg-primary text-white">
                  <div class="card-body">
                    <small class="card-subtitle text-secondary mb-1 d-block text-white">{{
                      dateFormat(item.createdAt)}}</small>
                    <p class="card-text m-0"><small>{{ item.event }} - {{ item.description }}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>